[submodule "MKBlockAdditions"]
	path = MKBlockAdditions
	url = https://github.com/MugunthKumar/UIKitCategoryAdditions.git
[submodule "OAuthConsumer"]
	path = OAuthConsumer
	url = https://github.com/jdg/oauthconsumer.git
[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
